<!DOCTYPE html>
<html ng-app="HelloWorld">

<head>
	<meta charset="utf-8">
	<title>Calculadora</title>
	<script src="js/angular.js"></script>
	<script>
		angular.module("HelloWorld", []).controller("HelloWorldController", function($scope) {
			$scope.valor = 0;
            $scope.valorCalculadora = 0;
            $scope.historico = '';
            var operacao = 0;
			$scope.calcularValor = function(valor, operacao) {	
                switch(operacao) {
                    case 1:
                        $scope.valorCalculadora = parseInt($scope.valorCalculadora) + parseInt(valor);
                        if ($scope.historico != '')
                            $scope.historico = $scope.historico + ' + ' + valor;
                        else
                            $scope.historico = valor;
                        break;
                    case 2:
                        $scope.valorCalculadora = parseInt($scope.valorCalculadora) - parseInt($scope.valor);
                        if ($scope.historico != '')
                            $scope.historico = $scope.historico + ' - ' + valor;
                        else
                            $scope.historico = valor;
                        break;
                    case 3:
                        $scope.valorCalculadora = parseInt($scope.valorCalculadora) / parseInt($scope.valor);
                        if ($scope.historico != '')
                            $scope.historico = $scope.historico + ' / ' + valor;
                        else
                            $scope.historico = valor;
                        break;
                    case 4:
                        $scope.valorCalculadora = parseInt($scope.valorCalculadora) * parseInt($scope.valor);
                        if ($scope.historico != '')
                            $scope.historico = $scope.historico + ' * ' + valor;
                        else
                            $scope.historico = valor;
                        break;                    
                    default:
                        $scope.valorCalculadora = 0;
                }
			}           
		});
	</script>
</head>

<body ng-controller="HelloWorldController">	
	<form name="form">
		<div>
			Digite um valor: <input type="number" ng-model="valor"/>
		</div>
		<button ng-click="calcularValor(valor, 1)">+</button> 
        <button ng-click="calcularValor(valor, 2)">-</button> 
        <button ng-click="calcularValor(valor, 3)">/</button> 
        <button ng-click="calcularValor(valor, 4)">x</button> 
        <br>
        <h3>
            Resultado: {{valorCalculadora}}
        </h3>
        <h3>
            Histórico: {{historico}}
        </h3>
	</form>
</body>